<tr>
  <td>1</td>
  <td>cà phê đá</td>
  <td>1000 đồng</td>
  <td>Available</td>
  <td>
    <img
      src="https://vuicoffee.com/wp-content/uploads/2019/09/ca-phe-nguyen-chat-bao-nhieu-tien-1kg-2.png"
      alt=""
      width="200px"
      height="150px"
    />
  </td>
  <td>
    <span class="option">
      <button
        type="button"
        class="button2"
        title="edit"
        onClick="window.location.href = '/edit_product'"
      >
        <a style="text-decoration: none">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
      </button>
      <button type="button" class="button2" title="delete">
        <i class="fa-regular fa-trash-can"></i>
      </button>
    </span>
  </td>
</tr>
