<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Add Product</title>
  </head>
  <body>
    <div class="header">
      <p>Product Management System</p>
    </div>
    <div>
      <form>
        <div>Add a new product</div>
        <label for="name">Name:</label><br />
        <input type="text" placeholder="Name of Product" /><br />
        <label for="price">Pricea:</label><br />
        <input type="text" placeholder="Price of Product" /><br />
        <label for="img">Image:</label><br />
        <input
          type="file"
          placeholder="Name of Product"
          id="img"
          name="img"
          accept="image/*"
        /><br />
        <label for="stat">Status:</label><br />

        <input
          type="radio"
          id="available"
          name="option"
          value="available"
          checked="checked"
        />
        <label for="available">available</label><br />
        <input
          type="radio"
          id="not available"
          name="option"
          value="not available"
        />
        <label for="not available">not available</label><br />
        <input
          type="button"
          value="Submit"
          onClick="window.location.href = 'index.html'"
        />
      </form>
    </div>
  </body>
</html>
