<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add product</title>
    <link rel="stylesheet" href="../../assets/css/add.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <p>Product Management System</p>
    </div>
    <div class="container">
      <div style="width: 25%">
        <div class="nav">Thêm / sửa sản phẩm</div>
        <div class="form">
          <form>
            <div class="input-name">
              <label for="name">Tên sản phẩm:</label><br />
              <input
                type="text"
                id="name"
                name="name"
                placeholder="nhập tên sản phẩm"
              />
            </div>
            <div class="input-price">
              <label for="price">Giá tiền:</label><br />
              <input
                type="text"
                id="price"
                name="price"
                placeholder="nhập giá tiền sản phẩm"
              />
            </div>
            <div class="input-status">
              <label for="status">Trạng thái:</label><br />
              <div class="radio">
                <div>
                  <input
                    type="radio"
                    id="available"
                    name="available"
                    value="available"
                    checked
                  />
                  <label for="available">Còn hàng</label>
                </div>
                <div>
                  <input
                    type="radio"
                    id="nonavailable"
                    name="available"
                    value="nonavailable"
                  />
                  <label for="nonavailable">Hết hàng</label>
                </div>
              </div>
            </div>
            <div class="input-img">
              <label for="img">Hình ảnh:</label><br />
              <input type="file" id="img" name="img" accept="image/*" />
            </div>
            <span class="option">
              <button type="button" class="button" title="submit">
                Xác nhận
              </button>
              <button
                type="button"
                class="button"
                title="back"
                onClick="Warning()"
              >
                Quay lại
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>

    <script>
      function Warning() {
        let warning =
          "Mọi thay đổi sẽ không được lưu lại!\nBạn có chắc chắn muốn quay lại không?";
        if (confirm(warning) == true) {
          window.location.href = "index.html";
        }
      }
    </script>
  </body>
</html>
